@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2F2F2;
  --primary: #3f9c35;
  --secondary: #FBF303;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
